* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: black;
    color: white;
}

#head {
    text-align: center;
    font-size: 30px;
    margin-bottom: 300px;
}

#main {
    text-align: center;
    color: white;
    font-size: 25px;
}

#buttons {
    text-align: center;
    margin-top: 50px;
}

#buttonDesign {
    background-color: black;
    color:deeppink;
    font-size: 35px;
    border-radius: 12px;
    border-color: black;
    border-style: solid;
    margin-left: 30px;
    transition: all .4s ease-in-out;
}

#buttonDesign:hover {
    transform: scale(1.1);
    background-color: deeppink;
    border-color: deeppink;
    color:black;
}