* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    text-align: center;
}

body {
    background-color: transparent;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
}

#displayProfile {
    margin-top: 100px;
    text-align: left;
    height: 675px;
    width: 1200px;
    margin-left: 50px;
    font-size: 35px;
    background-color: magenta;
    border-radius: 20px;
}

#details {
    margin-top: 100px;
    margin-left: 30px;
}

#buttons {
    background-color: black;
    color: magenta;
    text-align: center;
    height: 300px;
    width: 315px;
    margin-top: 300px;
    border-radius: 20px;
    border-color: black;
    border-style: solid;
    font-size: 25px;
}

#buttonBox {
    height: 200px;
    width: 200px;
    margin-left: 50px;
}

#buttonOption {
    background-color: black;
    color: magenta;
    font-size: 25px;
    border-radius: 12px;
    border-color: black;
    border-style: solid;
    transition: all .4s ease-in-out;
}

#buttonOption:hover {
    transform: scale(1.1);
    background-color: magenta;
    border-color: magenta;
    color: black;
}